header 
   nav.nav.nav--tours
     a.nav__el(href="#") All tours
        .header__logo 
        //- img(src="img/tour-pic.jfif", alt="")
     a.na__el(href="#")
     img(src="img/user-pic.jfif", alt="")
     span my name
     button.nav__el-btn Sign Up 
     button.nav__el-btn Sign In 