doctype html 
html 
  head 
    title Natours | #{title} 
    link(rel="stylesheet", href="css/style.css")
    link(rel="shortcut icon", type="image/png", href="img/favicon.jpg")
  body 
    //- h1=user.toUpperCase()
    //- h2 this is a great tour
    //- h1 this is comment
    //- -const x=9
    //- h4=2*x
    //- p hello my tours

    
    include _header

    block content 
      h1 This is a placeholder heading
      h1 This is my great footer
  